<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <div class="container">
        <h1>Vision</h1>
        <div class="box">
        <p>Police shall uphold the Law and the Rights of all people for a safe and secure environment,conducive to their internal and external growth and development.Towards this end, we set for ourselves the following objectives.<br>
          <br>
            Protect the lives and liberties of the people from criminal and anti- social elements. Earn the good will, support and active assistance of the community. Co-ordinate with other departments of Criminal Justice System. Equal treatment regardless of caste, religion, social and economic status or political affiliations. Due consideration for women, children, senior citizens and weaker sections. Improve professional knowledge, skills and attitudes and adopt modern methods in police work. Promote human rights and professional values of integrity, honesty and efficiency. Accept and play our role in social transformation and bring about improvement in the quality of life with society.
        <br>
        <br>
        </p>
        </div>
    </div>
    <div class="container">
        <h1>History</h1>
        <div class="box">
        <p>Mysore State was the predecessor to Karnataka State, which was created on 1st November 1965. Sri. L. Rickets was appointed as first Inspector General of Police, prior to which the State Police had no status, structure and powers as such. During 1883 it was reported that Talwars, Thotis, Neeragantis, Kavalugararu, Amaragararu, Ankamaale, Patela, Shyanubhogas etc. used to do policing. During the rule of Maharajas of Mysore, the policing existed in different variants.</p><br>
        <br>
        </div>
        
        
        
        <div class="box">
        <h4>Judicial System</h4><br>
        
        <p>In the year 1856, when the Judicial System became functional, Judicial Commissioners were appointed. In 1873 a rank of Deputy Inspector General of Police was appointed to assist him. During the same period posts of first class Inspector, second class Inspectors, Jamadhars, Daphedhars (Head Constables), Constables were created. Shirasthidhars, Head Quarters assistants in District Magistrates office used to sanction the police staffs pay and other requirements. At Taluk levels Amaldhars continued as police chiefs. A monthly pay of Rupees Thirty to Fifty was fixed to first class and second class officers along with residential allowances of Rupees Ten. Also Jamadhars, Daphedhars and constables used to get a monthly salary of Rupees twelve and eight respectively.</p><br>
        </div>
        <div class="box">
        <h4>First IGP</h4><br>
        <p>Reformation of police system took place in the year 1883. On the 1st of November 1885 Sri Ricket was appointed the First Inspector General of Police of old Mysore State. Later Sri V.P. Madhav Rao took over the charge from Sri Rickets. A separate policing was enforced for cities of Mysore and Bangalore. Government met the expenditure of police system in Bangalore whereas local municipality had to meet the expenditure on Mysore City Police. <br><br>

            At the same time Yelanduru belonged to Jahagirdhar, who was also in-charge of policing. He entrusted police jobs to his lieutenant’s. Expenditure of policing was taken care by Jahagirdhar, who was Superintendent of Police himself. The system was terminated or leased in 1884. At the same time priority was given to educate police. <br><br>
            
            As years passed problems started surfacing as there were no regulations or set rules to be followed in policing. Hence under the guidance of Inspector General of Police, the Head Quarter Inspector Sri. N. Laxman Shasthri published a guided hand book for police.</p><br>
        </div>
        
        <div class="box">
            <h4>Minister</h4><br>
        <p>Sri D. Devaraj Urs who was Inspector General of Police in 1912 visited Vellore, studied the pattern adopted there for police training. During his regime he bought about massive changes to Bangalore Police Training School. Later Sri Katheshwar Iyer made a Criminology museum for the Training School.<br><br>

            Sri Devaraj Urs, Inspector General of Police was promoted to Councilship (Cabinet) and was first Inspector General of Police to become a minister. Mr. F.A. Hamiltion was posted as Inspector General of Police in 1930 and headed the police force for a period of 8 years during which he administered a lot of changes.<br><br>
            
            As years passed by, pulled carts, Tangas increased, cycles, motorcycles and cars come on roads, the need for traffic regulation arose. Sri Hamilton created Traffic divisions for Mysore and Bangalore cities. In Bangalore Upparpet, Ulsoor gate and Kalasipalyam Police Stations were entrusted with responsibility of traffic regulation. At Mysore a European Head Constable was chief of Traffic division, but Amaldhar used to sanction his monthly pay and allowance. Later Police Constables were provided with cycles and each constable was paid with fixed cycle allowance of Rupees Seven and Eight Paisa per month.</p><br>
        </div>

        <div class="box">
            <h4>Probationer</h4><br>
        <p>In the year 1932 to recruit literates into the police force Probationary Police Inspectors were directly recruited. State Inspector General of Police was the appointing authority. Annually ten probationers Police Inspectors were to be recruited. Thus police department started recruiting literate officers.<br><br>

            The Government decided to encourage the staff with exemplary courage, meritorious service by rewarding with “Gandaberunda” honour in 1935. A Constable or Officer so rewarded would get increment ranging from Rupees Three to Twelve.<br><br>
            
            There was increase in Vehicles registration; drivers were issued licenses, when bus warrant system comes into effect. A “Weigh Bridge” was constructed in the premises of Inspector General of Police office. Bus Warrant payment for subordinates came in vogue during this time and still continues in the police department.</p><br>
        </div>

        <div class="box">
            <h4>Independence Movement</h4><br>
        <p>From 1939 onwards the winds of freedom struggle blew strongly in Royal State of Mysore. The heat of Civil disobedience had hit police force. Leaders Sri. H. Siddaiah, T. Subramanyam, Malavalli Veerappa along with 2000 protesters were arrested. Out of them 1641 were convicted which became a big issue at that period.<br><br>

            As Bangalore grew, population and crime rate increased burdening the police with more work, when Sri. M.K. Somappa was appointed as Deputy Inspector General of Police, Bangalore City in 1944.At the same time in Bangalore city a private bank was started by B.N. Gopala Rao and lot of complaints of irregular practice in the said bank were reported. The Government appointed a Commission of enquiry headed by Justice Sri. P. Medappa, S. Nijalingappa, Tekuru Subramanya, N. Veerappa and N.T. Babu Reddy. Police Officer Sri. N.T. Babu Reddy was secretary to the commission. Government accepted the recommendations of commission and increased the salary of Sri Babu Reddy by Rupees One Hundred and Fifty.</p><br>
        </div>

        <div class="box">
            <h4>After 1956</h4><br>
        <p>In 1956 the reorganization of states was done in India on linguistic basis. On the same lines the Mysore state came in existence in 1956. The unified state police got a uniform dress code under Mysore Police. With the passage of time there was increase in violence, law &amp; order problems arose, crime rate increased and a strong force was developed with improved facilities to meet the new challenges.<br><br>

            During the initial years of the Mysore State, the police department had only three Deputy Inspectors General of Police of Ranges at Belgaum, Bangalore and Mysore along with a small Reserve Force, Intelligence and Criminal Investigation Department. Sri P.K. Monappa was the first Inspector General of Police and also State’s first IP (Imperial Police) Officer.<br><br>
            
            Sri S.N. Hosalli took over from Sri. Monappa on his retirement. Sri. Hosalli was the last IP Officer who served the state for a period of twelve and half years as Inspector General of Police.<br><br>
            
            The border districts of Karnataka even though unified, were out of reach during emergencies. Hence another Range Office was created at Gulbarga with Deputy Inspector General of Police heading it. Meanwhile, Portuguese had vacated Goa and the Central Government handed over its administration to Karnataka State Police. Central Government gave certificate of meritorious service to Karnataka Police for the service rendered in Goa.</p><br>
        </div>

        <div class="box">
            <h4>Home Guards and Fire Force</h4><br>
        <p>Home Guards and Fire force are two wings of Police department, a real necessity during emergencies rendering services to public round the clock. Later these wings were split from Police Department. Sri A.R. Nizamuddin was appointed as Director General of Police, Fire Force and Home Guards.</p><br>
       </div>

       <div class="box">
        <h4>Armed Reserve Police</h4><br>
        <p>When Mysore State was formed there were no major Law and Order problems, which subsequently started surfacing like protests, rallies etc. Hence to contain and control such situations Karnataka Reserve Police was created. In 1956 state had three battalions (with Aggregate of more than 3000 persons), presently it has eleven Battalions along with two India Reserve Battalions in the state, with four Battalions at Head Quarters in Bangalore and rest located at Mysore, Belgaum, Gulbarga, Mangalore, Shimoga, Hassan and Shiggao in Haveri District.<br><br>

            Other than Karnataka State Reserve Police, State has District & City armed reserves in every unit across the state.</p><br>
       </div>

       <div class="box">
            <h4>Police Training</h4><br>
        <p>As the police force grew in numbers and tasks became complex, it became important to provide appropriate training to enable the force to be very smart, strong and disciplined. Hence Training Schools across the state were started to train the constables and also Police Training College was started at Mysore to train Police Sub Inspectors, DySp’s and IPS officers.</p><br>
        
        
        </div>
        <div class="box">
        <h4>Women Police</h4><br>
        <p>With the aim of social reforms, the department started recruiting Woman Police. During State re-organisation nine women police came into the fold of State Police from Mumbai Karnataka region, presently Women Police Constables are working in all Police Stations across the State. Smt. Jija Hari Singh was the first woman IPS officer in the State of Karnataka. Smt. Prabharao IPS were the first Kannadiga woman IPS. at present 36 women police stations Functioning in karnataka </p><br>
        
        </div>
        <div class="box">
        <h4>Police Dog Squad</h4><br>
        <p>Police Dogs were utilized from 1968. Sri. J.B. Samual who retired from Madras started a dog squad in Karnataka. Initially, the squad had six Canines which have now increased to more than 38 Dog Squads and 234 dogs and A Dog Training school situated at CAR South Bengaluru City. </p><br>
        
        </div>
        <div class="box">
        <h4>Police Benevolent Fund</h4><br>
        <p>For the welfare of the Police, various schemes such as Police Housing, Karnataka Police Benevolent Fund, Arogya Bhagya etc. have been created.<br>

            The new State of Karnataka came into existence on November 1, 1956. The erstwhile State of Mysore with 10 districts, 4 districts from erstwhile State of Bombay, 3 districts from the erstwhile State of Hyderabad, 1 district and 1  Taluka from erstwhile State of Madras and part of Coorg State were integrated into one unit. Consequently, the new State of Karnataka had five different police systems, Acts, Rules, Manuals and even uniforms when it was formed. In all these spheres uniformity was brought and by 1965 the entire force was reorganised. The state enacted the Police Act in 1963 and brought it into force with effect from April 2, 1965. The city of Bangalore has a Police Commissioner as head of the city police. There is a Water Front Police for Uttara Kannada (North Canara) district for patrolling through motor launches.
            <br>
            <br>
            <br>
            <br>
              </p>
              </div>
    </div>
</body>
</html>