<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>ADD CRIMINAL</title>
    <link rel="stylesheet" type="text/css" href="Signup.css">

</head>
<body>
    <div class="container">
    <form action="/AddCriminal" class="form" method="post">
        <h1>ADD CRIMINAL</h1>
        <div class="box">
        <input type="text" name="name" placeholder="First Name" >
        </div>
        <div class="box">
        <input type="text" name="Criminal_id" placeholder="Criminal_id" >
        </div>
        <div class="box">
        <input type="text" name="Address" placeholder="Address" >
        </div>
        <div class="box">
        <input type="number" name="Crime_id" placeholder="Crime_id" >
        </div>
        <div class="box">
            <input type="number" name="Fir_no" placeholder="Fir_no" >
            </div>
        <div class="box">
        <input type="number" name="Police_id" placeholder="Police_id" >
        </div>
        <!-- <div class="box">
        <input type="number" name="Station_id" placeholder="Station_id">
        </div> -->
        <button type="submit" class="btn">Finish</button>
        
    </form>
    </div>
</body>
</html>