<!doctype html>
<html>

<head>

    <script src="https://kit.fontawesome.com/e20604f321.js" crossorigin="anonymous"></script>
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="container">
        <form action="/" class="form" method="post">
        <h1>LOG IN</h1>
        <div class="box">
            <i class="fa fa-envelope"></i>
            <input type="number" name="username" id="email" placeholder="Enter your Police_id">

        </div>
        <div class="box">
            <i class="fa fa-unlock-alt"></i>
            <input type="password" name="password" id="password" placeholder="Enter your Password">
       
        </div>
            <button class="btn" type="submit">Login</button>
        <a class="btn" onclick="location.href='/Signup'">Sign Up</a>
        </form>
    </div>

</body>

</html>