*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: url(flag4.jpg) no-repeat center center fixed;
    background-size: cover;
  
}

.container{
   
    color: black;
    position: absolute;
    top: 15%;
    left: 36%;
    background-color: transparent;
}

.container h1{
    display: inline-block;
    font-size: 35px;
    margin-bottom: 20px;
    padding: 13px 0;

}

.box{
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid ;
    text-align: left;
}

.box input{
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;

}

.box i{
  
    width: 25px;
    text-align: center;
}
::placeholder { 
    color: white;
    opacity: 1; 
  }

.form{
    position: relative;
    width: 140%;
    padding: 20px 20px ;
    background: transparent;
    border-radius: 10px;
    color: black;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    text-align: center;
}

.btn{
    color: white;
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 12px 0;
    padding: 10px 2px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;

}

.btn:hover{
    color: black;
    background: white;
}

.outer
{
    width:60%;
    height: auto;
    background-color: green;
}

.inner1{
    width:100%;
    height: auto;
    background-color: blue;
}

.inner2
{
    width:100%;
    height: auto;
    background-color: red;
}
